body{
	margin: 0;
	margin-top: 2vh;
	margin-left: 30vw;
	margin-bottom: 20vh;
	padding: 0;
	background:#282526;
}
/* Changes the background color and styling */

.formHeader{
	background: #0070e2;
	font-family:  "Open Sans Condensed",sans-serif;
	padding: 50px;

}

h2{
	text-transform: uppercase;
}

button{
	padding: 20px;
    font-size: 2rem;
    font-family: "Open Sans Condensed",sans-serif;
    font-weight: 600;
    background-color: #e20038;
    border: none;
    max-width: 220px;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    transition: all .5s ease;
    margin-left: 20px;
}
label{
	color: black;
	font-size: 1rem;
    font-family: "Open Sans Condensed",sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    float: left;
    margin-top: 10px;
    margin-bottom: 5px
}
#captchaForm{
	background: white;
	width: 50%;
	color: white;
	height: 100%;
   text-align: center;
   vertical-align: middle;
   display: grid;
   grid-column: 1fr ;
   grid-row: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 
}
#captcha{
	grid-row-start: 9;
	grid-row-end: 9;
	grid-column-start: 1;
	grid-column-end: 1;
}
#button{
	grid-row-start: 10;
	grid-row-end: 10;
	grid-column-start: 1;
	grid-column-end: 1;
}
.name{
	grid-row-start: 2;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 1;
	
}
.name,.surname,.query{
	text-align: left;
	margin-left: 20px;
}
.nameInput{
	grid-row-start: 3;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 1;
}
.surname{
	grid-row-start: 4;
	grid-row-end: 4;
	grid-column-start: 1;
	grid-column-end: 1;
}

.surnameInput{
	grid-row-start: 5;
	grid-row-end: 5;
	grid-column-start: 1;
	grid-column-end: 1;
}

.query{
	grid-row-start: 6;
	grid-row-end: 6;
	grid-column-start: 1;
	grid-column-end: 1;
}
.queryInput{
	grid-row-start: 7;
	grid-row-end: 7;
	grid-column-start: 1;
	grid-column-end: 1;
}
#generated{
	grid-row-start: 8;
	grid-row-end: 8;
	grid-column-start: 1;
	grid-column-end: 1;

}

#stripe{
	position: absolute;
    width: 750px;
    height: 200vh;
    background-color: rgba(226,0,56,.35);
    transform: rotate(35deg);
    top: -50vh;
    left: 25%;
    opacity: 0.9;
}
h1{
	background: url('../images/background.jpg'),rgba(0, 0, 0, 0.5);
	width: 90%;
    font-size: 3.2rem;
    text-transform: uppercase;
    color: #333;
    margin-left: 20px;
}
input{
  width: 90%;
  padding: 12px; 
  box-sizing: border-box; 
  margin-left: 20px;
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  font-size: 2rem;
  outline: 0;
  border: none;
  padding: 20px 10px;
  border-bottom: 2px solid #e20038;
  float: left;
}

/* Style the submit button with a specific background color etc */

@media(max-width: 480px) {
	#captchaForm{
	background: white;
	width: 50%;
	color: white;
	height: 100%;
   text-align: center;
   vertical-align: middle;
   display: grid;
   grid-column: 1fr ;
   grid-row: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 
}
	.formHeader{
		background: #0070e2;
		font-family:  "Open Sans Condensed",sans-serif;
		padding: 50px;
		grid-row-start: 1;
		grid-row-end: 1;
		grid-column-start: 1;
		grid-column-end: 1;
	}
	body{
		margin-left: 0;
		margin-right: 20px;
		display: grid;

	}
	#button{
		margin-left: 20px;
	}
	#captchaForm{
		width: 100%;
		margin-right: 10px;
		margin-left: 10px;
	}
	h1{
		  font-size: 2.5rem;
	}

}
@media(min-width: 481px) and (max-width: 1200px) {
		body{
		margin-left: 10vw;

		}
		#captchaForm{
		width: 70%;
		margin-right: 10px;
		margin-left: 10px;
	}
	}